:root {
  --seafoam: #7fd4c1;
  --koolaid: #30bfdd;
  --grapefizz: #8690ff;
  --grafite: #acd0f4;
  --peachy: #f7c0bb;
  --ballet: #fbcff3;
  --razzleberry: #c774e8;
  --phoenix: #65323e;
  --lochness: #569874;
  --seafoamtransparent: rgba(127, 212, 193, 0.3);
  --koolaidtransparent: rgba(48, 191, 221, 0.3);
  --grapefizztransparent: rgba(134, 144, 255, 0.1);
  --grafitetransparent: rgba(172, 208, 244, 0.3);
  --peachytransparent: rgba(247, 192, 187, 0.3);
  --ballettransparent: rgba(251, 207, 243, 0.3);
  --radius: 8px;
  --sansserif: "Open Sans", sans-serif;
  --pixel: "VT323", monospace;
  --square-size: 15px;
  --square-gap: 5px;
  --week-height: calc(var(--square-size) + var(--square-gap));
}

body {
  font-size: 12px;
  font-family: var(--sansserif);
}

.centertext {
  text-align: center;
}

.hidden {
  display: none;
}

.columnlayout {
  display: grid;
  grid-template-areas: "day schedule mood";
  grid-template-columns: 20% 1fr 20%;
}

@media only screen and (max-width: 1000px) {
  .columnlayout {
    grid-template-areas:
      "day"
      "schedule"
      "mood";
    grid-template-columns: 1fr;
  }

  .day {
    max-width: 300px;
    display: block;
    margin: auto;
  }

  .schedule {
    max-width: 500px;
  }

  .goalssection {
    font-size: 10px;
    overflow: scroll;
  }

  .schedule {
    font-size: 10px;
    overflow: scroll;
  }

  .mood {
    max-width: 300px;
  }
}

.day {
  grid-area: day;
}

.schedule {
  grid-area: schedule;
}

.mood {
  grid-area: mood;
  display: block;
  margin: auto;
}

.datebar {
  border: 2px solid var(--seafoam);
  border-radius: var(--radius);
  padding-left: 20px;
  padding-bottom: 20px;
}

.todaysdate {
  font-size: 25px;
  margin-top: -20px;
}

.todaysweekday {
  font-size: 20px;
}

.progressText {
  font-family: var(--pixel);
  font-size: 15px;
}

.progressbar {
  width: 90%;
  background-color: white;
  border: 2px solid var(--grafite);
  border-radius: var(--radius);
}

.progress {
  height: 10px;
  border-radius: var(--radius);
  background: repeating-linear-gradient(
    45deg,
    var(--ballet),
    var(--ballet) 10px,
    var(--peachy) 10px,
    var(--peachy) 20px
  );
}

.dailyimage {
  border: 2px solid var(--koolaid);
  border-radius: var(--radius);
  /* height: 280px; */
}

.dailyimage img {
  width: 50%;
  height: auto;
  padding: 10%;
  display: block;
  margin: auto;
}

.quotesection {
  border: 2px solid var(--grafite);
  border-radius: var(--radius);
  height: 325px;
  /* height: auto; */
}

.quotetext {
  font-style: italic;
  padding: 10%;
}

.authorbook {
  margin-left: 50%;
}

.goalssection {
  border: 2px solid var(--peachy);
  border-radius: var(--radius);
  display: grid;
  grid-template-areas: "daily weekly monthly yearly";
  grid-template-columns: repeat(4, 1fr);
  /* min-height: 145px; */
}

.daily {
  grid-area: daily;
}

.weekly {
  grid-area: weekly;
}

.monthly {
  grid-area: monthly;
}

.yearly {
  grid-area: yearly;
}

.goalsheading {
  font-family: var(--pixel);
  font-size: 15px;
}

.line {
  width: 90%;
  margin-left: 0;
}

.goalsForm {
  display: grid;
  grid-template-columns: 80%;
  gap: 10px;
  padding: 10px;
}

.goalsForm input {
  border: 1px solid var(--grafitetransparent);
}

.goalsForm input:focus {
  outline: none;
  border: 1px solid var(--ballet);
}

.goalsForm button[type="submit"] {
  background: pink;
  border: 1px solid grey;
}

.goalsForm button[type="submit"]:hover {
  background-color: paleturquoise;
}

.goalsForm button[type="submit"]:focus {
  outline: none;
}

.goalsList button {
  border: none;
  float: right;
}

.goals-list ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.shopping-item {
  padding: 5px 0px;
}

.shopping-item input[type="checkbox"] {
  margin-right: 1rem;
}

.shopping-item input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
}

.shopping-item button {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

/* timer section*/

.timeroutputsection {
  border: 2px solid var(--grafite);
  border-radius: var(--radius);
}

.timersection {
  border: 2px solid var(--phoenix);
  border-radius: var(--radius);
}

.timeTable {
  padding: 10px;
  width: 100%;
  table-layout: fixed;
}

.timersection table,
th,
td {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
  text-align: center;
}

.timersection td {
  height: 50px;
}

.timersection th {
  font-weight: 400;
}

.timerslot {
  background-color: var(--peachytransparent);
}

/* schedule section */

.schedulelayout {
  border: 2px solid var(--grapefizz);
  border-radius: var(--radius);
  /* this doesn't appear necessary*/
  /* display: grid; */
  /* grid-template-columns: 1fr auto; */
  /* width: 80%; */
}

/*table calendar*/

.scheduleTable {
  width: 100%;
  table-layout: fixed;
}

.schedulelayout table,
th,
td {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}

.schedulelayout th {
  font-weight: 400;
}

.row th {
  color: grey;
}

.scheduleTable td {
  height: 30px;
  width: 100px;
}

.scheduledEvent {
  border-left: 3px solid var(--grapefizz);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--grapefizztransparent);
  color: var(--grapefizz);
  height: 80%;
}

.scheduleTable ul {
  margin: 0;
}

.scheduleTable th {
  width: 20px;
}

.scheduleForm input {
  width: 60%;
  /* border: 1px solid var(--grapefizz); */
  border: none;
  background: transparent;
}

.scheduleForm input:focus {
  outline: none;
  /* border: 1px solid var(--koolaid); */
  color: var(--grapefizz);
  border: none;
}

.scheduledEvent .scheduleItem {
  font-weight: 600;
}

.schedulelayout ul {
  list-style: none;
}

/* music section */
.music {
  border: 2px solid var(--lochness);
  border-radius: var(--radius);
}

.musicplayer {
  padding-left: 10px;
  padding-right: 10px;
  height: 275px;
  overflow: hidden;
}

/* mood tracking section*/

.moodtrackingsection {
  border: 2px solid var(--razzleberry);
  border-radius: var(--radius);
  /*make section scrollable/shorter*/
  height: 515px;
  overflow: scroll;
}

.moodtracker {
  display: grid;
  grid-template-columns: 1fr;
}

.moodTrackerForm {
  height: 77px;
  column-count: 3;
  column-fill: auto;
}

/*this is supposed to center the moodtracker but taking it away centered it*/
/* .graphcontainer {
  display: flex;
  justify-content: center;
} */

.graph ul {
  list-style: none;
}

.months {
  grid-area: months;
  display: grid;
  grid-template-rows:
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 5)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 5)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 5)
    calc(var(--week-height) * 4)
    calc(var(--week-height) * 5);
}

.days {
  grid-area: days;
  display: grid;
  grid-template-columns: repeat(7, var(--square-size));
  gap: var(--square-gap);
  margin-bottom: -10px;
}

.squares {
  grid-area: squares;
  display: grid;
  gap: var(--square-gap);
  grid-template-columns: repeat(7, var(--square-size));
  grid-auto-flow: row;
  grid-auto-rows: var(--square-size);
}

.moodquestion {
  font-family: var(--pixel);
  font-size: 15px;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty days"
    "months squares";
  gap: 10px;
  grid-template-columns: 10% 1fr;
  padding: 20px;
}

.days li:nth-child(even) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[class="amazing"] {
  background-color: var(--peachy);
}

.squares li[class="good"] {
  background-color: var(--ballet);
}

.squares li[class="productive"] {
  background-color: var(--koolaid);
}

.squares li[class="average"] {
  background-color: var(--seafoam);
}

.squares li[class="tired"] {
  background-color: var(--lochness);
}

.squares li[class="blah"] {
  background-color: var(--grafite);
}

.squares li[class="sad"] {
  background-color: var(--grapefizz);
}

.squares li[class="stressful"] {
  background-color: var(--razzleberry);
}

.squares li[class="anxious"] {
  background-color: var(--phoenix);
}

.clicked {
  color: white;
  background-color: var(--grapefizz);
}
